@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 15px;
  }
}

@media (min-width: 601px) {
  ::-webkit-scrollbar {
    width: 10px;
  }
}

::-webkit-scrollbar-track {
  background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
